*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins',sans-serif;
}
html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: #AEC6CF;

}
header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter:drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 10rem;
    color: white;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
    color: #9370db;
}

nav a{
    font-size: 3.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.5s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover, nav a:active{
    color: #9370db;
    border-bottom: 3px solid #9370db;
    transform: scale(1.1);
}

@media(max-width:995px){
    nav{
        position: absolute;
        display: none;
        top: 0;
        right: 0;
        width: 40%;
        border-left: 3px solid #AEC6CF;
        border-bottom: 3px solid #AEC6CF;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #AEC6CF;
        border-top: 0.1rem solid  rgb(0, 0 ,0);
    }
    nav:active{
        display: block;
    }

    nav a{
        display: block;
        font-size: 2rem;
        margin: 3rem;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid black;
    }
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}
.red{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: #AEC6CF;
}
.red .content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
    color: #9370db;
}

span{
    color: #9370db;
}
.red .content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
    color: #9370db;
}

.redprofile{
    border-radius: 50%;
}

.redprofile img{
    
    width: 32vh;
    border-radius: 50%;
    box-shadow: 0 0 25px solid white;
    cursor: pointer;
    transition: 0.2s linear;
}

.redprofile img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.social a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid white;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem;
    transition: 0.3s ease;
}

.social a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: white;
    box-shadow: 0 0 25px black;
}

.button{
    display: inline-block;
    padding:  1rem 2.8rem;
    background-color: #AEC6CF;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: white;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid  white;
    transition: 0.3s ease;
    cursor: pointer;
}

.button:hover{
    transform: scale3d(1.03);
    background-color: white;
    color: black;
    box-shadow: 0 0 25px black;
}

.typing-text{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}
.typing-text span{
    position: relative;
}

.typing-text span::before{
    content: "Software Developer";
    color: white;
    animation: words 20s infinite;
}

.typing-text span::after{
    content: "";
    background-color: transparent;
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid black;
    right: -8;
    animation: cursor 0.6s infinite;
}

@keyframes cursor{
    to{
        border-left: 3px solid white;
    }
}

@keyframes words{
    0%, 25%{
        content: "Web Developer";
    }
    26%, 50%{
        content: "Software Developer";
    }
    51%, 75%{
        content: "web Designer";
    }
    76%, 100%{
        content: "Gamer";
    }
}

@media (max-width: 1000px){
    .red{
        gap: 4rem;
    }
}

@media (max-width: 995px){
    .red{
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .red.content h1{
        font-size: 5rem;
    }
    .red.content h3{
        font-size: 2.5rem;
    }

    .redprofile img{
        width: 70vh;
        margin-top: 4rem;
    }
}
.red2 #about h1 {
    padding-top: 10rem;
    color: white;
    font-size: 3.5rem;
}
.red2 #about h2 {
    padding-top: 5rem;
    color: white;
    font-size: 2.5rem;
}
li{
    font-size: 1.5rem;
}
.red2{
    padding-top: 1;
}

@media(max-width:995px){
.red2 #about h1 {
    padding-top: 5rem;
    color: white;
    font-size: 2.5rem;
}
.red2 #about h2 {
    padding-top: 2rem;
    color: white;
    font-size: 1.5rem;
}
li{
    font-size: 1rem;
}
}

.project h1 {
    padding-top: 10rem;
    color: white;
    font-size: 3.5rem;
}
.project {
  padding: 40px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.project-content {
  padding-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; 
  gap: 20px;
}

.project-content h3 {
    color: white;
    font-size: 2.5rem;
}

.project-content h3#problem {
    color: white;
    font-size: 1.5rem;
}
.project h2{
    padding-top: 10rem;
    color: white;
    font-size: 3.5rem;
}

.repl {
  flex: 1 1 300px;
  width: 700px;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.repl:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.project-content img{
    width: 500px;
  height: 500px;
     flex: 1 1 300px;
 border-radius: 10px;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

@media (max-width: 768px) {
  .project{
    margin-left: 0;
  }
  .project-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .repl {
    width: 100%;
    height: auto;
  }
}

.contact h1{
    padding-top: 10rem;
    font-size: 5rem;
}
.contact h2{
    padding-top: 5rem;
    font-size: 3rem;
    color: white;
}
.contact li{
    font-size: 3rem;
    color: white;
}
p{
    font-size: 3rem;
    color: white;
    font-style: italic;
}